.btn {
	background-color: $color-red;
	color: $color-white;
	display: inline-block;
	padding: 0.5em 2em;
	position: relative;
	top: 0;
	transition:
		color 0.25s ease,
		background-color 0.25s ease,
		top 0.25s ease
	;
}

.btn:hover,
.btn:focus,
.btn:active
{
	background-color: $color-white;
	color: $color-red;
	top: -0.1em;
}

.btn-lg {
	@extend %drop-shadow;
	font-size: 1.5em;
}