.card {
	> img {
		display: block;
		margin: auto;
		width: 100%;
	}
	
	.card-body {
		h3 {
			margin-bottom: 0.25em;
			text-transform: uppercase;
		}
		
		padding: 1em;
	}
	
	@extend %drop-shadow;
	background-color: #FFF;
	height: 100%;
	position: relative;
}