@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@font-face {
	font-family: 'Press Start 2P';
	src: url('../fonts/PressStart2P.woff');
}

@font-face {
	font-family: 'Nanum';
	src: url('../fonts/Nanum.woff');
}

@font-face {
	font-family: 'Nanum';
	font-weight: bold;
	src: url('../fonts/NanumBold.woff');
}

body {
	font-family: 'Source Sans Pro';
}

h1,
h2
{
	font-family: 'Press Start 2P';
}
