#footer {
	#footer-top {
		a:hover {
			color: #FFF;
		}
		
		h2 {
			span {
				position: relative;
				z-index: 1;
			}
			
			font-size: 36px;
			font-weight: bold;
			margin: 0 0 0.25em 0;
			position: relative;
			text-transform: uppercase;
		}
		
		background-color: #111;
		padding: 3em 0 4em 0;
	}
	
	#footer-bottom {
		padding: 1em 0;
	}
	
	.footer-list {
		li {
			margin-bottom: 0.25em;
		}
		
		@extend %list-reset;
	}
	
	background-color: #000;
	color: #FFF;
}

@media (max-width: 991.98px) {
	#footer {
		#footer-top {
			h2 {
				font-size: 28px;
				margin-bottom: 0;
			}
		}
	}
}