#header {
	background-image: url('../images/logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	margin: 0.5em 0 0 0;
	padding: 4em 0;
}

header {
	h1 {
		a {
			background-color: rgba(255, 255, 255, 0.75);
			color: #000;
			display: block;
			font-weight: normal;
			padding: 0.25em;
		}
		
		margin: 0;
		text-align: center;
	}
	
	background-color: $color-white;
}

@media (max-width: 575.98px) {
	header {
		h1 {
			font-size: 48px;
		}
	}
}