a {
	color: $color-red;
	font-weight: bold;
	text-decoration: none;
}

a:hover,
a:focus,
a:active
{
	color: #000;
	text-decoration: none;
}

#discord-server-big-link {
	display: block;
	max-width: 250px;
}