#landing-socmed {
	li {
		a {
			img {
				height: 1em;
			}
			
			align-items: center;
			display: flex;
			position: relative;
			top: 0;
			transition:
				color 0.25s ease,
				background-color 0.25s ease,
				transform 0.25s ease,
				top 0.25s ease
			;
		}
		
		a:hover {
			transform: scale(1.1);
			top: -0.1em;
		}
	}
	
	li.socmed-youtube {
		a {
			img {
				height: unset;
				margin: auto;
				width: calc((64px / 3) * 2);
			}
			
			height: 64px;
			width: 64px;
		}
	}
	
	@extend %list-reset;
	display: flex;
	font-size: 64px;
	justify-content: center;
	text-align: center;
}

.list-games {
	> li {
		.game-meta {
			li {
				background-color: #F5F5F5;
				border-radius: 1em;
				flex: 0;
				margin: 0.25em 0.5em 0.25em 0;
				padding: 0.5em 1em;
				white-space: nowrap;
			}
			
			@extend %list-reset;
			display: flex;
			flex-wrap: wrap;
			font-size: 12px;
			margin-bottom: 0.5em;
		}
		
		margin-bottom: 1em;
		padding: 0 0.5em;
	}
	
	@extend %list-reset;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -0.5em 1em -0.5em;
}

.list-news {
	> li {
		h4 {
			margin-bottom: 0.5em;
		}
		
		margin-bottom: 1em;
		padding: 0 0.5em;
	}
	
	@extend %list-reset;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -0.5em 1em -0.5em;
}

.list-news.list-news-big {
	> li {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
}

.list-news-tags {
	li {
		background-color: #F5F5F5;
		border-radius: 1em;
		flex: 0;
		margin: 0.25em 0.5em 0.25em 0;
		padding: 0.5em 1em;
		white-space: nowrap;
	}
	
	@extend %list-reset;
	display: flex;
	flex-wrap: wrap;
	font-size: 12px;
	margin-bottom: 0.5em;
}

.list-pagination {
	li {
		a {
			background-color: $color-white;
			color: $color-red;
			display: block;
			padding: 0.5em 0.75em;
		}
		
		a:hover {
			background-color: $color-red;
			color: $color-white;
		}
		
		@extend %drop-shadow;
		display: inline-block;
	}
	
	li.disabled,
	li.current
	{
		a {
			background-color: $color-gray-light;
			color: #000;
		}
	}
	
	@extend %list-reset;
	display: flex;
	justify-content: center;
}

@media (min-width: 992px) {
	.list-games,
	.list-news
	{
		> li {
			width: 50%;
		}
	}
}

@media (min-width: 1800px) {
	.list-games,
	.list-news
	{
		> li {
			width: calc(100% / 3);
		}
	}
}