#nav {
	ul {
		li {
			a {
				color: #FFF;
				display: block;
				font-size: 24px;
				font-weight: bold;
				padding: 0.5em;
				text-transform: uppercase;
			}
			
			a:hover {
				background-color: rgba(255, 255, 255, 0.25);
			}
			
			display: inline-block;
		}
		
		@extend %list-reset;
		display: flex;
		flex-wrap: wrap;
	}
	
	background-color: #000;
	position: sticky;
	top: 0;
	z-index: 1;
}

#nav.tiny-nav {
	a {
		font-size: inherit;
	}
}

@media (max-width: 991.98px) {
	#nav {
		ul {
			li {
				a {
					font-size: 20px;
				}
			}
			
			justify-content: center;
		}
	}
}