h1 {
	font-size: 40px;
}

h2 {
	font-size: 32px;
	margin-bottom: 0.5em;
	text-shadow: 4px 4px 0 $color-red;
}

h3 {
	font-size: 24px;
}

#interior-title {
	margin-bottom: 1em;
	text-align: center;
	text-shadow: 5px 5px 0 $color-red;
	text-transform: uppercase;
}

.large {
	font-size: 1.25em;
}