<div class="card">
	<a href="{{ game.url }}" target="_blank">
		{{ screenshot(game) | raw }}
	</a>
	
	<div class="card-body">
		<h3>
			<a href="{{ game.url }}" target="_blank">
				{{ game.title }}
			</a>
		</h3>
		
		<ul class="game-meta">
			{% if game.jam %}
				<li>
					{{ game.jam }}
				</li>
			{% endif %}
			
			<li>
				{{ game.price }}
			</li>
			
			<li>
				{{ game.platform }}
			</li>
			
			<li>
				{{ game.date | date('F jS, Y') }}
			</li>
		</ul>
		
		<div>
			{{ game.description | raw }}
		</div>
	</div><!-- .card-body -->
</div><!-- .card -->