{% extends 'template.html' %}

{%block content %}
<header id="header">
	<div class="container">
		<h1>
			<a href="./">
				Silent Tower Games
			</a>
		</h1>
	</div>
</header>

<nav id="nav">
	<div class="container">
		<ul>
			<li>
				<a href="./">
					Home
				</a>
			</li>
			
			<li>
				<a href="./games/">
					Games
				</a>
			</li>
			
			<li>
				<a href="./archive/">
					News
				</a>
			</li>
		</ul>
	</div>
</nav>

<main id="main" class="big-padding">
	<div class="container">
		{% block main_content %}{% endblock %}
	</div>
</main>

<footer id="footer">
	<section id="footer-top">
		<div class="container">
			<ul class="grid">
				<li>
					<h2>
						Games
					</h2>
					
					<ul class="footer-list">{% for game in footer_games %}
						<li>
							<a href="{{ game.url }}" target="_blank">
								{{ game.title }}
							</a>
						</li><!-- .footer-list > li -->
					{% endfor %}</ul><!-- .footer-list -->
				</li><!-- .grid > * -->
				
				<li>
					<h2>
						News
					</h2>
					
					<ul class="footer-list">{% for i, post in footer_news %}
						<li>
							<a href="./news/{{ footer_news_start - i }}/{{ slugify(post.title) }}">
								{{ post.title }}
							</a>
						</li><!-- .footer-list > li -->
					{% endfor %}</ul><!-- .footer-list -->
				</li><!-- .grid > * -->
				
				<li>
					<h2>
						<span>
							Social Media
						</span>
					</h2>
					
					<ul class="footer-list">{% for socmed_name, socmed_url in footer_socmed %}
						<li>
							<a href="{{ socmed_url }}" target="_blank">
								{{ socmed_name }}
							</a>
						</li><!-- .footer-list > li -->
					{% endfor %}</ul><!-- .footer-list -->
				</li><!-- .grid > * -->
			</ul><!-- .grid -->
		</div><!-- .container -->
	</section><!-- #footer-top -->
	
	<section id="footer-bottom">
		<div class="container">
			&copy; {{ 'now' | date('Y') }} Silent Tower Games LLC
		</div><!-- .container -->
	</section><!-- #footer-bottom -->
</footer>
{% endblock %}