{% extends 'main.html' %}

{% block main_content %}
<h1 id="interior-title">
	{{ page_title }}
</h1>

<ul class="list-news list-news-big">{% for i, post in news %}
	<li>
		<div class="card">
			<div class="card-body">
				<h3>
					<a href="./news/{{ start - i }}/{{ slugify(post.title) }}">
						{{ post.title }}
					</a>
				</h3>
				
				<h4>
					{{ post.date | date('F jS, Y') }}
				</h4>
				
				<div>
					{{ excerpt(post.message) | raw }}
				</div>
			</div><!-- .card-body -->
		</div><!--- .card -->
	</li>
{% endfor %}</ul>

{% if pages > 1 %}
	<ul class="list-pagination">
		{% if page > 1 %}
			<li>
				<a href="./archive/{{ page - 1 }}">
					&lt;
				</a>
			</li>
		{% endif %}
		
		{% for i in 1..pages %}
			<li {% if i == page %}class="current"{% endif %}>
				<a href="./archive/{{ i }}">
					{{ i }}
				</a>
			</li>
		{% endfor %}
		
		{% if page < pages %}
			<li>
				<a href="./archive/{{ page + 1 }}">
					&gt;
				</a>
			</li>
		{% endif %}
	</ul>
{% endif %}
{% endblock %}