{% extends 'main.html' %}

{% block main_content %}
<h1 id="interior-title">
	{{ page_title }}
</h1>

<ul class="list-games">{% for game in games %}
	<li>
		{% include 'game.html' %}
	</li>
{% endfor %}</ul>


{% if pages > 1 %}
	<ul class="list-pagination">
		{% if page > 1 %}
			<li>
				<a href="./games/{{ page - 1 }}">
					&lt;
				</a>
			</li>
		{% endif %}
		
		{% for i in 1..pages %}
			<li {% if i == page %}class="current"{% endif %}>
				<a href="./games/{{ i }}">
					{{ i }}
				</a>
			</li>
		{% endfor %}
		
		{% if page < pages %}
			<li>
				<a href="./games/{{ page + 1 }}">
					&gt;
				</a>
			</li>
		{% endif %}
	</ul>
{% endif %}
{% endblock %}