{% extends 'template.html' %}

{% block content %}

<main id="main">
	<section class="halfway">
		<header>
			<video src="./assets/videos/hero-video.webm" autoplay muted loop></video>
			
			<div class="container-fluid">
				<img src="./assets/images/logo.png" alt="Logo" id="landing-logo">
				
				<h1>
					<a href="./">
						Silent Tower Games
					</a>
				</h1>
				
				<ul id="landing-socmed">
					<li>
						<a href="https://twitter.com/silenttowergame" target="_blank">
							<img src="./assets/images/brands/twitter.svg" alt="Silent Tower Games Twitter">
						</a>
					</li>
					
					<li>
						<a href="https://reddit.com/u/silenttowergames" target="_blank">
							<img src="./assets/images/brands/reddit.svg" alt="Silent Tower Games Reddit">
						</a>
					</li>
					
					<li class="socmed-youtube">
						<a href="https://www.youtube.com/channel/UC1SgrQtWQtqAOhC6Ql511yA" target="_blank">
							<img src="./assets/images/brands/youtube.png" alt="Silent Tower Games YouTube">
						</a>
					</li>
					
					<li class="socmed-youtube">
							<a href="https://silent-tower-games.itch.io" target="_blank">
								<img src="./assets/images/brands/itchio.svg" alt="Silent Tower Games Itch">
							</a>
						</li>
				</ul>
			</div>
		</header>
		
		<article>
			<nav id="nav" class="tiny-nav">
				<ul>
					<li>
						<a href="./">
							Home
						</a>
					</li>
					
					<li>
						<a href="./games/">
							Games
						</a>
					</li>
					
					<li>
						<a href="./archive/">
							News
						</a>
					</li>
				</ul>
			</nav>
			
			<section id="right-col">
				<div class="container-fluid">
					<section>
						<h2>
							About
						</h2>
						
						<p class="large">
							Silent Tower Games LLC is an indie game studio creating projects that are fun, minimalist, and sometimes dark.
						</p>
					</section>
					
					<section>
						<h2>
							Games
						</h2>
						
						<ul class="list-games">{% for game in gamesShowcase() %}
							<li>
								{% include 'game.html' %}
							</li>
						{% endfor %}</ul>
						
						<a href="./games/" class="btn btn-lg">
							More Games
						</a>
					</section>
					
					<section>
						<h2>
							News
						</h2>
						
						<ul class="list-news">{% for i, post in news %}
							<li>
								<div class="card">
									<div class="card-body">
										<h3>
											<a href="./news/{{ newsCount - i }}/{{ slugify(post.title) }}">
												{{ post.title }}
											</a>
										</h3>
										
										<h4>
											{{ post.date | date('F jS, Y') }}
										</h4>
										
										<div>
											{{ excerpt(post.message) | raw }}
										</div>
									</div><!-- .card-body -->
								</div><!--- .card -->
							</li>
						{% endfor %}</ul>
						
						<a href="./archive/" class="btn btn-lg">
							More News
						</a>
					</section>
				</div>
			</section><!-- #right-col -->
		</article>
	</article>
</main>

{% endblock %}